.container {
    background-color: black;
    width: 750px;
    height:750px;
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 300px 300px;
    row-gap: 50px;
    column-gap: 100px;
}
.item-1{
    background-color: red;
}
.item-2{
    background-color: orange;
}
.item-3{
    background-color: yellow;
}
.item-4{
    background-color: green;
}